include includes/head

    .container
        script(type='text/javascript')
            document.fn_ = null;

            function gather_data(cssID, h){
                jQuery('#' + cssID + ' input[type!="submit"]').each(function(idx, obj){
                    var jQobj = jQuery(obj);
                    h[jQobj.attr('name')] = jQobj.val();
                });
            }

            function submitHandler(e){
                e.preventDefault();
                e.stopPropagation();

                var data = {};
                var opts = {
                    url: url,
                    type: method,
                    contentType: 'application/json'
                };

                if (method == 'GET' && id == 'get-one'
                    || method == 'PUT'
                    || method == 'DELETE'){

                    gather_data(id, data);

                    var entry_id = data['entry_id'];
                    opts['url'] += entry_id;
                    delete data['entry_id'];
                    opts['data'] = JSON.stringify(data);
                }

                jQuery.ajax(opts).done(function(data){
                    jQuery('#output').text(JSON.stringify(data, null, 4));
                });

                // prevent event propagation and default action
                // see http://stackoverflow.com/questions/1357118/event-preventdefault-vs-return-false
                return false;
            }

            var makeSubmitHandler = function(id, url, method){
                return function(e){
                    return fn(e);
            };

            function submitHandler2(e){
                console.log("fuck");
                alert("fucke");
                return false;
            }

            jQuery('#get-one').on(
                'submit',
                submitHandler2
            )

            jQuery('#get-all').on(
                'submit',
                makeSubmitHandler('get-all', '/rest/room/', 'GET')
            );

            jQuery('#create').on(
                'submit',
                makeSubmitHandler('create', '/rest/room/', 'POST')
            );

            jQuery('#update').on(
                'submit',
                makeSubmitHandler('update', '/rest/room/', 'PUT')
            );

            jQuery('#delete').on(
                'submit',
                makeSubmitHandler('delete', '/rest/room/', 'DELETE')
            );

        h1 REST test form for model '#{model}'

        for frm, frmname in forms
            h2 #{frm.title}
            form(id='#{frm.id}', action='#{frm.action}', method='#{frm.method}')
                each fld in frm.fields
                    input(class=fld.class, type=fld.type, placeholder=fld.placeholder, name=fld.name)
                input(type='submit', value='Send')


        div#output-title
        div#output

        include includes/footer
    include includes/scripts
